<p id="notice"><%= notice %></p>
<%= turbo_frame_tag "list" do %>
  <%= render @list %>
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Back', lists_path, data: { turbo_frame: "_top" } %>
<% end %>
